<div class="overly-tile">
    <div class="hotspot hotspot-1">
        <a href="" ng-click="showSimulationPopup('upselling')"><span class="hotspot hotspot-1"></span></a>
    </div>
    <div class="hotspot hotspot-2">
        <a href="" ng-click="showSimulationPopup('productivity')"><span class="hotspot hotspot-1"></span></a>
    </div>
    <div class="hotspot hotspot-3">
        <a href="" ng-click="showSimulationPopup('body-shop')"><span class="hotspot hotspot-1"></span></a>
    </div>
    <div class="hotspot hotspot-4">
        <a href="" ng-click="showSimulationPopup('customer')" ><span class="hotspot hotspot-1"></span></a>
    </div>
</div>
