<div class="row"><div class="col-md-5"></div><div class="col-md-2 btn btn-primary">Simulation</div><div class="col-md-5"></div></div>
<div class="row well"></div>
<div class="row">
    <div class="col-md-3"><a href="#simulation/customer-retention" class="btn btn-large btn-primary">Customer retention</a></div>
    <div class="col-md-3"><a href="#simulation/productivity" class="btn btn-large btn-primary">Productivity</a></div>
    <div class="col-md-3"><a href="#simulation/upselling" class="btn btn-large btn-primary">Upselling</a></div>
    <div class="col-md-3"><a href="#simulation/body-shop" class="btn btn-large btn-primary">Body Shop</a></div>
</div>