<!--upselling-->
<div class="row">
    <h2>Upselling</h2>
</div>
<div class="row">
<div class="form-group">
    <label class="col-md-6 control-label" for="acc_salec">Accessory sales/car</label>
    <div class="col-md-3">
        <input disabled ng-model="static_simulation.accessory_sales_car"  placeholder="placeholder" round-number class="form-control input-md" type="text">
    </div>

    <div class="col-md-3">
        <input id="acc_salec"  name="accessory_sales_car" ng-model="simulation.accessory_sales_car"  placeholder="placeholder" round-number class="form-control input-md" type="text">
    </div>
</div>
</div>
<div class="row">
<div class="form-group">
    <label class="col-md-6 control-label" for="spsott">Service Package Sales %age of Total Throughput</label>
    <div class="col-md-3">
        <input disabled ng-model="static_simulation.service_package_sale"  placeholder="placeholder" round-number class="form-control input-md" type="text">
    </div>

    <div class="col-md-3">
        <input id="spsott"  name="service_package_sale" ng-model="simulation.service_package_sale"  placeholder="placeholder" round-number class="form-control input-md" type="text">
    </div>
</div>
</div>
<div class="row">
<div class="form-group">
    <label class="col-md-6 control-label" for="estt">EW sales %age of Total Throughput</label>
    <div class="col-md-3">
        <input disabled ng-model="static_simulation.ew_sale_total"  placeholder="placeholder" round-number class="form-control input-md" type="text">
    </div>

    <div class="col-md-3">
        <input id="estt"  name="ew_sale_total" ng-model="simulation.ew_sale_total"  placeholder="placeholder" round-number class="form-control input-md" type="text">
    </div>
</div>
</div>
<div class="row">
    <div class="pull-right">
        <button class="btn btn-danger" ng-click="resetForm()">Reset</button>
        <a href="#/simulation/upselling" class="btn btn-large btn-primary" ng-click="close()">Show All</a>
    </div>
</div>

<div ng-include="'views/partial/chart.tpl.html'"></div>